/assets/**    linguist-vendored
/favicon/**   linguist-vendored
/local/**     linguist-vendored
/pages/**     linguist-vendored
/posts/**     linguist-vendored
/templates/** linguist-vendored
/ukit*/**     linguist-vendored
