<header class="uk-section-secondary" uk-sticky>

    <nav class="uk-navbar" uk-navbar style="display: flex; justify-content: space-between;">
        <ul class="uk-navbar-nav">
            <li><a href="/"><span uk-icon="home"/>&nbsp;mcaeson</a></li>
        </ul>
        <div class="uk-navbar-flip">
            <ul class="uk-navbar-nav">
                <li><a href="/pages/about.html"><span uk-icon="info"/>&nbsp;About</a></li>
                <li><a href="/pages/archive.html"><span uk-icon="database"/>&nbsp;Archives</a></li>
                <li><a href="/rss.xml"   ><span uk-icon="rss" />&nbsp;RSS</a></li>
                <li><a href="/atom.xml"  ><span uk-icon="rss" />&nbsp;Atom</a></li>
            </ul>
        </div>
    </nav>

</header>
<div class="uk-margin"/>
