<article class="uk-article">
    <h1 class="uk-article-title">$title$</h1>
    <p  class="uk-subtitle" style="font-style:italic;">$subtl$</p>
    <p  class="uk-article-meta">
        Posted on $date$
        $if(author)$
            by $author$
        $endif$
    </p>
    $capsule$
    $body$
    <hr>
    <p><i>Got an issue with any of this?</i>
       <a href="https://github.com/cdornan/cd-blog/issues/$issue$">Please share</a>
       or drop me a line (see below).
<div class="uk-margin-small-top"/>
</article>
